* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.layout_main {
    margin: 0;
}

ul {
    list-style: none;
}
a, a:active , a:hover{
    color: #a6afb8d7;
    text-decoration: none;
}
p {
	margin: 0;
}
/* 공용 좌측 메뉴바 css --------------------------------------------- start*/
.layout_left {
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
}
.layout_left > div > nav > ul > li > label{
    color: #a6afb8d7;
    padding: 15px;
    font-weight: 400;
    transition: all 0.2s;
    margin: 0;
}
.layout_left > div > nav > ul > li > label:hover{
	cursor: pointer;
}
.layout_left input[type="checkbox"] {
    display: none;
}
.layout_left > div > nav > ul > li > ul {
    display: none;
}
.layout_left > div > nav > ul > li > #product_management:checked + label + ul {
    display: block;
}
.layout_left > div > nav > ul > li > #product_management:checked + label {
    color:#fff;
}
.layout_left > div > nav > ul > li >  label > i {
    transition: all 0.3s;
}
.layout_left > div > nav > ul > li > #product_management:checked + label > i {
    transform: rotateZ(90deg);
}
.layout_left > div > nav > ul > li > #out_management:checked + label + ul {
    display: block;
}
.layout_left > div > nav > ul > li > #out_management:checked + label {
    color: #fff;
}
.layout_left > div > nav > ul > li > #out_management:checked + label > i {
    transform: rotateZ(90deg);
}
.layout_left > div > nav > ul > li > label:hover {
    background-color: #2d363f;
}
.layout_left > div > nav > ul > li > a:hover {
    background-color: #2d363f;
}
.layout_left > div > nav > ul > li > a{
    color: #a6afb8d7;
    padding: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
}

.layout_left > div > nav > ul > li > ul > li > a {
    padding: 15px;
    padding-left: 25px;
    display: block;
    transition: all 0.2s;
}
.layout_left > div > nav > ul > li > ul > li > a:hover {
    background-color: #2d363f;
}
.layout_left{
    background-color: #3a4651;
}


/* 공용 좌측 메뉴바 css --------------------------------------------- end*/

/* 공용 우측 메뉴바 css --------------------------------------------- start*/
.layout_main > .layout_right {
    width: 80%;
}

/* 공용 우측 메뉴바 css --------------------------------------------- end*/

/* 공용 상단바 css --------------------------------------------- start*/
.topmenu {
    z-index: 9999;
    position: sticky;
    top: 0;
    right: 0;
}
.layout_right > .topmenu {
    background-color: #d7dde4;
}

.layout_right > .topmenu > div > p{
    padding: 15px 20px;
    margin: 0;
}
.layout_right > .topmenu > div > a{
    padding: 15px 20px;
    margin: 0;
    color: black;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}
.layout_right > .topmenu > div > a:nth-last-of-type(1){
	margin-right:40px;
}
.layout_right > .topmenu > div > a:hover{
	color : #a6afb8d7;
}

.layout_right > .topmenu > div > a:after{
	content: "";
	width: 0;
	height: 2px;
    position: absolute;
    bottom: 10px;
    left: 50%;
	background: rgba(0, 0, 0, 0.418);	
    transition: all 0.2s;
}
.layout_right > .topmenu > div > a:hover::after{
    width: 100%;
    left: 0;
}

/* 공용 상단바 css --------------------------------------------- end */

/* 레이아웃용 css --------------------------------------------- start*/
body > .layout_main >.layout_left {
    height: 100vh;
}
body > .layout_main > .layout_right {
    min-height: 100vh;
}
body > .layout_main {
    min-height: 100vh;
}
/* 레이아웃용 css --------------------------------------------- end */