@charset "UTF-8";
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_popup {
    border: 1px solid rgba(128, 128, 128, 0.575);
    padding: 20px;
    width: 95%;
    height: 95%;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.input_popup > form{
    width: 100%;
}
.input_popup > form > div > div > div{
    display: flex;
    margin-bottom: 15px;
}
.input_popup > form > div > div > div > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.input_popup > form > div:nth-last-of-type(1) {
    margin-top: 10px;
}
.input_popup > form > div:nth-last-of-type(1) > input[type="submit"]{
    padding: 2px 20px;
    background-color: #d7dde4;
    border-width: 1px;
    border-color: rgb(185, 185, 185);
}
.input_popup > form > div:nth-of-type(2) > div:nth-of-type(2) >textarea{
    height: 300px;
}