@charset "UTF-8";
.notice > h2 {
    margin-bottom: 20px;
}
.notice > form {
    margin: 20px 0;
}
.notice > form > input{
    height: 35px;
}
.notice > form > input[type="submit"]{
    padding: 2px 20px;
    background-color: #d7dde4;
    border-width: 1px;
    border-color: rgb(185, 185, 185);
}
.notice > div > table > tbody > tr > th {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
.notice > div:nth-last-of-type(1) > input {
    padding: 2px 20px;
    background-color: #d7dde4;
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    margin: 20px 0;
} 
.notice > div > table > tbody > tr > td > a, .notice > div > table > tbody > tr > td > a:hover{
	color: black;
	text-decoration: none; 
}
.notice_page {
   	background-color: rgb(0, 175, 23);
    color: white !important;
}
.notice_page:hover {
   	background-color: rgb(0, 175, 23) !important;
    color: white !important;
}