.project_management > a {
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
    margin: 30px 15px;
    background-color: #d9ecff;
    transition: all 0.3s;
    color:black;
}
.project_management > a:hover {
    background-color: rgba(0, 51, 255, 0.034);
}
.project_management > .comple {
    background-color: #d9ffdc8f;
}
.project_management > .comple:hover {
    background-color: #f7ffd9ce;
}