@charset "UTF-8";
.user_authentication {
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.user_authentication > form > div {
    margin: 10px;
}
.user_authentication > form > div > label{
    text-align: center;
    font-size: 20px;
}
.user_authentication > form > div > input{
    height: 40px;
}
.setting_user {
	background-color: rgb(0, 175, 23);
    color: white !important;
}
.setting_user:hover {
	background-color: rgb(0, 175, 23) !important;
    color: white !important;
}