@charset "UTF-8";
.project_management > a {
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
    margin: 30px 15px;
    background-color: #fff;
    transition: all 0.3s;
}
.project_management > a:hover {
    background-color: rgba(0, 51, 255, 0.034);
}